<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>time</th>
        <td mat-cell *matCellDef="let element">{{element.time |date:'shortDate'}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="team1">
        <th mat-header-cell *matHeaderCellDef>team1</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerData]="{element: element}"
                [matMenuTriggerFor]="menut1">{{element.team1.name}}</button>
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="team2">
        <th mat-header-cell *matHeaderCellDef>team2</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerData]="{element: element}"
                [matMenuTriggerFor]="menut2">{{element.team2.name}}</button>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="league">
        <th mat-header-cell *matHeaderCellDef>League</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menul"
                [matMenuTriggerData]="{element: element}">{{element.league.name}}</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>
    <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="hasLoggedUserBet(element)" (click)="cancel(element)" mat-button>CANCEL</button>
            <button *ngIf="!hasLoggedUserBet(element)"  (click)="accept(element)" mat-button>ACCEPT</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="coins">
        <th mat-header-cell *matHeaderCellDef>Coins</th>
        <td mat-cell *matCellDef="let element">{{element.amount}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-menu #menut1="matMenu">
    <ng-template let-element="element" matMenuContent>
        <button mat-menu-item *ngIf="!element.team1.isFavorite" (click)="favoritesTeam1(element)">add to
            favorites</button>
        <button mat-menu-item *ngIf="element.team1.isFavorite" (click)="favoritesTeam1(element)">delete from
            favorites</button>
    </ng-template>
</mat-menu>

<mat-menu #menut2="matMenu">
    <ng-template let-element="element" matMenuContent>
        <button mat-menu-item *ngIf="!element.team2.isFavorite" (click)="favoritesTeam2(element)">add to
            favorites</button>
        <button mat-menu-item *ngIf="element.team2.isFavorite" (click)="favoritesTeam2(element)">delete from
            favorites</button>
    </ng-template>
</mat-menu>
<mat-menu #menul="matMenu">
    <ng-template let-element="element" matMenuContent>
        <button mat-menu-item *ngIf="!element.league.isFavorite" (click)="favoritesLeague(element)">add to
            favorites</button>
        <button mat-menu-item *ngIf="element.league.isFavorite" (click)="favoritesLeague(element)">delete from
            favorites</button>

    </ng-template>
</mat-menu>