<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search for new friend</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.username}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button (click)="submitData()">Add</button>
</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>username
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <ng-container matColumnDef="friend">
        <th mat-header-cell *matHeaderCellDef>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="unfriend(element)">unfriend</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>