<div class="form">
<form (submit)="$event.preventDefault()" [formGroup]="regForm">
    <div class="form-element">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput (cdkAutofill)="firstNameAutofilled =$event.isAutofilled" formControlName="username">
            <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-element">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" (cdkAutofill)="lastNameAutofilled =  $event.isAutofilled"
                formControlName="password">
            <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-element">
        <mat-form-field appearance="fill">
            <mat-label>email</mat-label>
            <input matInput (cdkAutofill)="lastNameAutofilled =  $event.isAutofilled" formControlName="email">
            <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-element">
        <button mat-raised-button (click)="submitData()">Sign up</button>
    </div>
</form>
</div>