<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class>
            <div *ngIf="!isSignedIn">
                <div *ngIf="showLogIn">
                    <button mat-raised-button color="primary" routerLink="/register" (click)="changeState('register')">
                        register
                    </button>
                </div>
                <div *ngIf="showRegister">
                    <button mat-raised-button color="primary" routerLink="/log-in" (click)="changeState('log-in')">
                        log-in
                    </button>
                </div>
                <div *ngIf="!isSignedIn"></div>
            </div>
            <div>
                <button mat-raised-button color="primary" routerLink="/{{component}}">Favorites</button>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="changeState('matches-table')"
                    routerLink="/matches-table">All Matches</button>
            </div>
        </div>

    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>