<mat-tab-group (selectedIndexChange)="tabChange($event)">
    <mat-tab label="{{ppDate | date}}">
        <app-matches-table></app-matches-table>
    </mat-tab>
    <mat-tab label="{{pDate | date}}">
        <app-matches-table></app-matches-table>
    </mat-tab>
    <mat-tab label="Yesterday">
        <app-matches-table></app-matches-table>
    </mat-tab>
    <mat-tab label="Today">
        <app-matches-table></app-matches-table>
    </mat-tab>
    <mat-tab label="Tomorrow">
        <app-matches-table></app-matches-table>
    </mat-tab>
    <mat-tab label="{{fDate | date}}">
        <app-matches-table></app-matches-table>
    </mat-tab>
    <mat-tab label="{{ffDate | date}}">
        <app-matches-table></app-matches-table>
    </mat-tab>
</mat-tab-group>